@{
    ViewData["Title"] = "Home";
}

<div class="header-img">
    @*<img src="~/header.jpg" />*@
</div>

<div class="row text-center">
    <h2 class="display-4">@ViewBag.IndexHeader</h2>
</div>
<div class="row text-center">
    <h6>@ViewData["IndexInfo"]</h6>
</div>
    <div class="row">
        @foreach (var item in (IEnumerable<string>)ViewData["PathfinderInfo"])
        {
            if (item.ToString().Contains("Heading"))
            {
                <div class="text-center form-group col-md-12">
                    <h3> @item.ToString().Replace("Heading", "")</h3>
                </div>

            }
            else
            {
                <div class="form-group col-md-3 text-left">
                    @item.ToString()
                </div>
            }
        }
    </div>
